/* 
.list {
  display:flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  background-color: aquamarine;
}

.list-title {
  width: 30%;
}

.list-item {
  width: 30%;
}

.list-item-status {
  width: 30%;
} */
